extends ./nav.jade

block content
  section
    div(class="add-author-form")
      form(action="/authors/" + author.id + "/edit" method="POST")
        label(for="first_name") First Name
        input(type="text" name="first_name" id="first_name" value=author.first_name)
        label(for="last_name") Last Name
        input(type="text" id="last_name" name="last_name" value=author.last_name)
        label(for="bio") Bio
        textarea(type="text" lines="5" cols="50" rows="10" name="bio" id="bio") #{author.bio}
        label(for="portrait_url") Portrait URL
        input(type="text" name="portrait_url" id="portrait_url" value=author.portrait_url)
        label(for="books")
        select(id="books" size="5" multiple)
          for book in books
            option(value=book.id multiple="true") #{book.title}
        button(type="submit") Edit Author
