extends layout

block content
  section
    form(action="/books/" + book.id + "/edit" method="POST")
      label(for="title") Book Title
      input(type="text" name="title" id="title" value=book.title)
      label(for="genre") Genre
      select(id="genre" name="genre" value=book.genre)
        option(value="Python") Python
        option(value="Javascript") Javascript
      label(for="cover_url") Cover Image URL
      input(type="text" name="cover_url" id="cover_url" value=book.cover_url)
      label(for="description") Description
      input(type="text" lines="5" cols="50" rows="10" name="description" id="description" value=book.description)
      label(for="authors")
      #authors
      select(id="authors" name="authors" placeholder=book.authors)
        for author in authors
            option(value=author.id multiple="true") #{author.first_name} #{author.last_name}
      button(type="submit" value="Add Book") Update
