extends layout

block content
  section
  #list
    each book in books
      div(class="bookSummary")
        img(src=book.cover_url alt=book.title)
        h1= book.title
        h2 By #{book.authorList}
        h3= book.genre
        p= book.description
        a(href="/books/" + book.id + "/delete") Delete
        a(href="/books/" + book.id + "/edit") Edit
