extends ./nav.jade

block content
  section
  #list
    each book in books
      div(class="bookSummary")
        img(src=book.cover_url alt=book.title)
        div
          h1= book.title
          h2 By 
          each author in book.authorObjects
            a(href="/authors/" + author.id)
              h2 #{author.first_name} #{author.last_name}
          h3= book.genre
          p= book.description
          form(action="/books/" + book.id + "/delete" method="POST")
            button(type="submit") Delete this book
