extends ./nav.jade

block content
  section
  #list
    each book in books
      div(class="bookSummary")
        img(src=book.cover_url alt=book.title)
        div
          div(class="book-header")
            h1= book.title
            a(href="/books/" + book.id + "/delete") Delete
            a(href="/books/" + book.id + "/edit") Edit
          h2 By 
          each author in book.authorObjects
            a(href="/authors/" + author.id)
              h3 #{author.first_name} #{author.last_name}
          h4= book.genre
          p= book.description
